In [175]:
import pandas as pd
import gc

In [176]:
df = pd.read_csv('fines.csv')
df.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2 3200.00    Ford  Focus  1989
1   E432XX77RUS       1 6500.00  Toyota  Camry  1995
2   7184TT36RUS       1 2100.00    Ford  Focus  1984
3  X582HE161RUS       2 2000.00    Ford  Focus  2015
4  92918M178RUS       1 5700.00    Ford  Focus  2014

In [177]:
def loop_function(dataframe):
    values = []
    for i in range(df.shape[0]):
        values.append((df.iloc[i].Fines / df.iloc[i].Refund * df.iloc[i].Year))
    return values

In [178]:
%%timeit
loop_function(df)

212 ms ± 9.96 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [179]:
def iterrows_function(dataframe):
    values = []
    for i, row in dataframe.iterrows():
        values.append(row.Fines / row.Refund * row.Year)
    return values

In [180]:
%%timeit
iterrows_function(df)

37.9 ms ± 765 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [181]:
%%timeit
df.apply(lambda row: row.Fines / row.Refund * row.Year, axis=1)

15.5 ms ± 257 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [182]:
%%timeit
df.Fines / df.Refund * df.Year

116 µs ± 236 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [183]:
%%timeit
df.Fines.values / df.Refund.values * df.Year.values

16.1 µs ± 49.7 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [184]:
carNumber = df.CarNumber.iloc[-21]

In [185]:
%%timeit
df.CarNumber[df.CarNumber == carNumber]

149 µs ± 1.88 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [186]:
df.set_index('CarNumber', inplace=True)

In [187]:
%%timeit
df.loc[carNumber]

106 µs ± 130 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [188]:
df = pd.read_csv('fines.csv')

In [189]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int64
 2   Fines      930 non-null    float64
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 196.6 KB

In [190]:
df_copy = df.copy()
df_copy.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2 3200.00    Ford  Focus  1989
1   E432XX77RUS       1 6500.00  Toyota  Camry  1995
2   7184TT36RUS       1 2100.00    Ford  Focus  1984
3  X582HE161RUS       2 2000.00    Ford  Focus  2015
4  92918M178RUS       1 5700.00    Ford  Focus  2014

In [191]:
cols_float64 = df_copy.dtypes[df_copy.dtypes == 'float64'].index
df_copy[cols_float64] = df_copy[cols_float64].astype(dtype='float16')

In [192]:
cols_int64 = df_copy.dtypes[df_copy.dtypes == 'int64'].index
df_copy[cols_int64] = df_copy[cols_int64].astype(dtype='int8')

In [193]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float16
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int8
dtypes: float16(1), int8(2), object(3)
memory usage: 178.4 KB

In [194]:
cols_object = df_copy.dtypes[df_copy.dtypes == 'object'].index
df_copy[cols_object] = df_copy[cols_object].astype('category')

In [195]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    category
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float16
 3   Make       930 non-null    category
 4   Model      919 non-null    category
 5   Year       930 non-null    int8
dtypes: category(3), float16(1), int8(2)
memory usage: 60.8 KB

In [197]:
%reset_selective

No regex pattern specified. Nothing done.

In [198]:
%reset

In [ ]:
# import gc
gc.collect()