In [73]:
import pandas as pd
import sqlite3

In [84]:
sql_conn = sqlite3.connect('../data/checking-logs.sqlite')

In [85]:
query = "SELECT * FROM checker LIMIT 10"
pd.io.sql.read_sql(query, sql_conn)

,index,status,success,timestamp,numTrials,labname,uid
0,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

In [86]:
query = "SELECT * FROM pageviews LIMIT 10"
pd.io.sql.read_sql(query, sql_conn)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

In [87]:
query = """
        SELECT c.uid, c.labname, c.timestamp 'first_commit_ts', p.datetime 'first_view_ts'
        FROM checker c
        JOIN pageviews p
        ON c.uid = p.uid
        WHERE c.status = 'ready' AND c.numTrials = 1
                AND c.labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
                AND c.uid LIKE 'user_%' AND (p.datetime IN (SELECT info_time
                                                            FROM (SELECT uid, MIN(datetime) info_time
                                                                  FROM pageviews
                                                                  GROUP BY uid))
                OR p.datetime IS NULL)
        """
datamart = pd.io.sql.read_sql(query, sql_conn, parse_dates=['first_commit_ts', 'first_view_ts'])
datamart

        uid   labname            first_commit_ts              first_view_ts
0   user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
1   user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035
2   user_30   laba04s 2020-04-18 14:51:37.498399 2020-04-17 22:46:26.785035
3   user_14    laba04 2020-04-18 15:14:00.312338 2020-04-18 10:53:52.623447
4   user_14   laba04s 2020-04-18 22:30:30.247628 2020-04-18 10:53:52.623447
5   user_19    laba04 2020-04-20 19:05:01.297780 2020-04-21 20:30:38.034966
6   user_25    laba04 2020-04-20 19:16:50.673054 2020-05-09 23:54:54.260791
7   user_21    laba04 2020-04-21 17:48:00.487806 2020-04-22 22:40:36.824081
8   user_30  project1 2020-04-22 12:36:24.053518 2020-04-17 22:46:26.785035
9   user_21   laba04s 2020-04-22 20:09:21.857747 2020-04-22 22:40:36.824081
10  user_28    laba04 2020-04-22 21:47:19.707242 2020-05-10 21:07:50.350946
11  user_17    laba04 2020-04-23 14:24:29.947554 2020-04-18 10:56:55.833899
12   user_3    laba04 2020-04-23 20:29:14.054364 2020-05-08 10:53:47.123832
13   user_3   laba04s 2020-04-23 20:40:26.883591 2020-05-08 10:53:47.123832
14  user_10    laba04 2020-04-25 08:24:52.696624 2020-04-18 12:19:50.182714
15  user_10   laba04s 2020-04-25 08:37:54.604222 2020-04-18 12:19:50.182714
16  user_17   laba04s 2020-04-25 12:10:56.414175 2020-04-18 10:56:55.833899
17  user_28   laba04s 2020-04-26 15:53:44.906136 2020-05-10 21:07:50.350946
18   user_1    laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
19   user_1   laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
20  user_18    laba04 2020-04-26 19:48:11.822365 2020-04-26 22:49:29.243278
21  user_18   laba04s 2020-04-26 20:03:56.935458 2020-04-26 22:49:29.243278
22  user_25   laba04s 2020-04-26 21:07:56.952117 2020-05-09 23:54:54.260791
23  user_14    laba05 2020-04-30 11:33:04.523118 2020-04-18 10:53:52.623447
24   user_3    laba05 2020-05-01 11:29:17.988118 2020-05-08 10:53:47.123832
25  user_25    laba05 2020-05-01 13:02:27.357650 2020-05-09 23:54:54.260791
26  user_28    laba05 2020-05-01 18:29:11.968537 2020-05-10 21:07:50.350946
27  user_10    laba05 2020-05-01 19:27:26.063245 2020-04-18 12:19:50.182714
28  user_30    laba05 2020-05-01 19:31:18.375833 2020-04-17 22:46:26.785035
29  user_17    laba05 2020-05-02 13:21:24.045876 2020-04-18 10:56:55.833899
30  user_21    laba05 2020-05-02 14:05:40.013959 2020-04-22 22:40:36.824081
31  user_19    laba05 2020-05-02 15:16:13.586405 2020-04-21 20:30:38.034966
32   user_1    laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
33  user_18    laba05 2020-05-03 13:01:34.848756 2020-04-26 22:49:29.243278
34  user_14  project1 2020-05-05 21:35:43.554986 2020-04-18 10:53:52.623447
35   user_3  project1 2020-05-07 21:02:52.885133 2020-05-08 10:53:47.123832
36  user_25  project1 2020-05-08 11:10:28.100852 2020-05-09 23:54:54.260791
37  user_21  project1 2020-05-10 15:21:05.442755 2020-04-22 22:40:36.824081
38  user_18  project1 2020-05-11 10:10:04.166881 2020-04-26 22:49:29.243278
39  user_28  project1 2020-05-12 14:42:19.166414 2020-05-10 21:07:50.350946
40  user_10  project1 2020-05-12 20:12:28.056618 2020-04-18 12:19:50.182714
41  user_19  project1 2020-05-14 10:33:45.495389 2020-04-21 20:30:38.034966
42   user_1  project1 2020-05-14 20:56:08.898880 2020-04-26 21:53:59.624136
43   user_3    laba06 2020-05-17 09:56:40.480319 2020-05-08 10:53:47.123832
44   user_1    laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
45  user_28    laba06 2020-05-17 17:08:48.257050 2020-05-10 21:07:50.350946
46  user_25    laba06 2020-05-18 17:07:47.988807 2020-05-09 23:54:54.260791
47   user_3   laba06s 2020-05-19 08:42:50.851878 2020-05-08 10:53:47.123832
48  user_19    laba06 2020-05-19 10:25:54.121465 2020-04-21 20:30:38.034966
49  user_10    laba06 2020-05-19 11:39:28.885637 2020-04-18 12:19:50.182714
50  user_30    laba06 2020-05-19 17:53:15.088248 2020-04-17 22:46:26.785035
51  user_21    laba06 2020-05-19 19:30:14.644328 2020-04-22 22:40:36.824081
52  user_10   laba06s 2020-05-20 07:37:31.175817 2020-04-18 12:19:50.182714
53   user_1   laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
54  user_25   laba06s 2020-05-20 14:02:26.512032 2020-05-09 23:54:54.260791
55  user_28   laba06s 2020-05-20 20:42:44.423160 2020-05-10 21:07:50.350946
56  user_19   laba06s 2020-05-21 13:27:06.705881 2020-04-21 20:30:38.034966
57  user_17    laba06 2020-05-21 15:21:31.567615 2020-04-18 10:56:55.833899
58  user_17   laba06s 2020-05-21 17:39:17.783615 2020-04-18 10:56:55.833899

In [88]:
test = datamart[datamart.first_view_ts.notnull()]
test

        uid   labname            first_commit_ts              first_view_ts
0   user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
1   user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035
2   user_30   laba04s 2020-04-18 14:51:37.498399 2020-04-17 22:46:26.785035
3   user_14    laba04 2020-04-18 15:14:00.312338 2020-04-18 10:53:52.623447
4   user_14   laba04s 2020-04-18 22:30:30.247628 2020-04-18 10:53:52.623447
5   user_19    laba04 2020-04-20 19:05:01.297780 2020-04-21 20:30:38.034966
6   user_25    laba04 2020-04-20 19:16:50.673054 2020-05-09 23:54:54.260791
7   user_21    laba04 2020-04-21 17:48:00.487806 2020-04-22 22:40:36.824081
8   user_30  project1 2020-04-22 12:36:24.053518 2020-04-17 22:46:26.785035
9   user_21   laba04s 2020-04-22 20:09:21.857747 2020-04-22 22:40:36.824081
10  user_28    laba04 2020-04-22 21:47:19.707242 2020-05-10 21:07:50.350946
11  user_17    laba04 2020-04-23 14:24:29.947554 2020-04-18 10:56:55.833899
12   user_3    laba04 2020-04-23 20:29:14.054364 2020-05-08 10:53:47.123832
13   user_3   laba04s 2020-04-23 20:40:26.883591 2020-05-08 10:53:47.123832
14  user_10    laba04 2020-04-25 08:24:52.696624 2020-04-18 12:19:50.182714
15  user_10   laba04s 2020-04-25 08:37:54.604222 2020-04-18 12:19:50.182714
16  user_17   laba04s 2020-04-25 12:10:56.414175 2020-04-18 10:56:55.833899
17  user_28   laba04s 2020-04-26 15:53:44.906136 2020-05-10 21:07:50.350946
18   user_1    laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
19   user_1   laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
20  user_18    laba04 2020-04-26 19:48:11.822365 2020-04-26 22:49:29.243278
21  user_18   laba04s 2020-04-26 20:03:56.935458 2020-04-26 22:49:29.243278
22  user_25   laba04s 2020-04-26 21:07:56.952117 2020-05-09 23:54:54.260791
23  user_14    laba05 2020-04-30 11:33:04.523118 2020-04-18 10:53:52.623447
24   user_3    laba05 2020-05-01 11:29:17.988118 2020-05-08 10:53:47.123832
25  user_25    laba05 2020-05-01 13:02:27.357650 2020-05-09 23:54:54.260791
26  user_28    laba05 2020-05-01 18:29:11.968537 2020-05-10 21:07:50.350946
27  user_10    laba05 2020-05-01 19:27:26.063245 2020-04-18 12:19:50.182714
28  user_30    laba05 2020-05-01 19:31:18.375833 2020-04-17 22:46:26.785035
29  user_17    laba05 2020-05-02 13:21:24.045876 2020-04-18 10:56:55.833899
30  user_21    laba05 2020-05-02 14:05:40.013959 2020-04-22 22:40:36.824081
31  user_19    laba05 2020-05-02 15:16:13.586405 2020-04-21 20:30:38.034966
32   user_1    laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
33  user_18    laba05 2020-05-03 13:01:34.848756 2020-04-26 22:49:29.243278
34  user_14  project1 2020-05-05 21:35:43.554986 2020-04-18 10:53:52.623447
35   user_3  project1 2020-05-07 21:02:52.885133 2020-05-08 10:53:47.123832
36  user_25  project1 2020-05-08 11:10:28.100852 2020-05-09 23:54:54.260791
37  user_21  project1 2020-05-10 15:21:05.442755 2020-04-22 22:40:36.824081
38  user_18  project1 2020-05-11 10:10:04.166881 2020-04-26 22:49:29.243278
39  user_28  project1 2020-05-12 14:42:19.166414 2020-05-10 21:07:50.350946
40  user_10  project1 2020-05-12 20:12:28.056618 2020-04-18 12:19:50.182714
41  user_19  project1 2020-05-14 10:33:45.495389 2020-04-21 20:30:38.034966
42   user_1  project1 2020-05-14 20:56:08.898880 2020-04-26 21:53:59.624136
43   user_3    laba06 2020-05-17 09:56:40.480319 2020-05-08 10:53:47.123832
44   user_1    laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
45  user_28    laba06 2020-05-17 17:08:48.257050 2020-05-10 21:07:50.350946
46  user_25    laba06 2020-05-18 17:07:47.988807 2020-05-09 23:54:54.260791
47   user_3   laba06s 2020-05-19 08:42:50.851878 2020-05-08 10:53:47.123832
48  user_19    laba06 2020-05-19 10:25:54.121465 2020-04-21 20:30:38.034966
49  user_10    laba06 2020-05-19 11:39:28.885637 2020-04-18 12:19:50.182714
50  user_30    laba06 2020-05-19 17:53:15.088248 2020-04-17 22:46:26.785035
51  user_21    laba06 2020-05-19 19:30:14.644328 2020-04-22 22:40:36.824081
52  user_10   laba06s 2020-05-20 07:37:31.175817 2020-04-18 12:19:50.182714
53   user_1   laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
54  user_25   laba06s 2020-05-20 14:02:26.512032 2020-05-09 23:54:54.260791
55  user_28   laba06s 2020-05-20 20:42:44.423160 2020-05-10 21:07:50.350946
56  user_19   laba06s 2020-05-21 13:27:06.705881 2020-04-21 20:30:38.034966
57  user_17    laba06 2020-05-21 15:21:31.567615 2020-04-18 10:56:55.833899
58  user_17   laba06s 2020-05-21 17:39:17.783615 2020-04-18 10:56:55.833899

In [89]:
control = datamart[datamart.first_view_ts.isnull()]
control

Empty DataFrame
Columns: [uid, labname, first_commit_ts, first_view_ts]
Index: []

In [90]:
control = control.fillna(test.first_view_ts.mean())
control

Empty DataFrame
Columns: [uid, labname, first_commit_ts, first_view_ts]
Index: []

In [91]:
test.to_sql('test', sql_conn)
control.to_sql('control', sql_conn)

ValueError: Table 'test' already exists.

In [92]:
sql_conn.close()